<nb-alert *ngIf="mailSentSuccess" outline="success" role="alert">
  <p class="alert-title"><strong>Email envoyé !</strong></p>
  <p>Vous allez recevoir un email dans quelques instant pour modifier votre mot de passe.</p>
</nb-alert>

<nb-alert *ngIf="mailSentError" outline="danger" role="alert">
    <p class="alert-title"><strong>Whoopsy !</strong></p>
    <p>Il y a eu une erreur. Vérifier l'email saisi.</p>
  </nb-alert>

  <nb-card>
    <nb-card-header>Récupération du mot de passe</nb-card-header>
    <nb-card-body>
<form [formGroup]="forgotPasswordFormgroup" (ngSubmit)="forgotPassword()">
  <div class="form-control-group">
    <label for="email" class="label">Email</label>
    <input nbInput type="email" formControlName="email" fieldSize="large" fullWidth [ngClass]="{ 'is-invalid': forgotPasswordFormgroup.invalid }" />
  </div>
  <button nbButton [disabled]="!forgotPasswordFormgroup.valid" class="btn btn-primary">
    Envoyer
  </button>
</form>
</nb-card-body>
</nb-card>
