@import "variables";

.bikes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 24px;
    grid-template-rows: auto;
    align-items: stretch;
}

.bike {
    width: 100%;

    nb-card {
        height: 100%;
        margin-bottom: 0;
    }

    &__image {
        margin-bottom: 12px;

        ::ng-deep {

            img {
                height: 200px;
                object-fit: cover;
            }
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;

        nb-icon {
            color: $color-info-800;
        }

        > div {
            width: 88%;
        }
    }
}



@media screen and (max-width: 1024px) {
    .bikes {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 648px) {
    .bikes {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    .bikes {
        grid-template-columns: 1fr;
    }
}
