<div class="bikes">
    <div class="bike" *ngFor="let bike of bikes">
        <nb-card>
            <nb-card-body>
                <div class="bike__date">
                    <div class="bike__image">
                        <app-bike-picture
                            [bikePicture]="bike.picture"
                        ></app-bike-picture>
                    </div>
                    <div class="bike__item">
                        <nb-icon icon="calendar"></nb-icon>
                        <div>
                            Volé le {{ bike.date | date: "dd/MM/yyyy" }} à
                            environ {{ bike.time }}
                        </div>
                    </div>
                    <div class="bike__item">
                        <nb-icon icon="star"></nb-icon>
                        <div>{{ bike.brand }} {{ bike.bikeType }}</div>
                    </div>
                    <div class="bike__item">
                        <nb-icon icon="color-palette"></nb-icon>
                        <div>
                            {{ bike.color }}
                        </div>
                    </div>
                    <div class="bike__item">
                        <nb-icon icon="file-text"></nb-icon>
                        <div>
                            {{ bike.description }}
                        </div>
                    </div>
                    <div class="bike__item">
                        <nb-icon icon="pin"></nb-icon>
                        <div>
                            {{ bike.address.label }}
                        </div>
                    </div>
                    <div class="bike__item" *ngIf="bike.hasBicycode">
                        <nb-icon icon="hash"></nb-icon>
                        <div>
                            {{ bike.bicycode }}
                        </div>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <a class="footer-link" [routerLink]="['/thefts/details/', bike._id]"
                routerLinkActive="active">Voir les détails</a>
            </nb-card-footer>
        </nb-card>
    </div>
</div>
