@import "variables";

:host-context {
    width: 100%;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bmc-button img {
    height: 22px;
    width: 23px;
    margin-bottom: 1px;
    box-shadow: none;
    border: 0;
    vertical-align: middle;
}
.bmc-button {
    padding: 7px 10px;
    line-height: 18px;
    height: 38px;
    text-decoration: none;
    display: flex;
    color: $color-basic-100 !important;
    background-color: $color-basic-1000;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 16px;
    letter-spacing: .6px;
    box-shadow: 0 1px 2px rgba($color-basic-600, .5);
    margin: 0 auto;
    font-family: "Cookie", cursive;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: .3s all linear;
    align-items: center;
}
.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
    -webkit-box-shadow: 0px 1px 2px 2px rgba($color-basic-600, .5);
    text-decoration: none;
    box-shadow: 0 1px 2px 2px rgba($color-basic-600, .5);
    opacity: .85;
    color: $color-basic-100;
}

.buymecoffee {
    margin-left: 4px;
    font-weight: 600;
}


@media screen and (max-width: 768px) {

    .footer__container {
        flex-direction: column;

        > span {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
