<div class="footer__container">
    <span>
        <img width="80px" routerLink="home" src="assets/velovole_logo.svg" alt=""/>
    </span>
    <span>
        <a rel="noopener noreferrer" class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/velovolelille">
            <img
                src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg"
                alt="Buy me a coffee"
            />
            <span class="buymecoffee">Buy me a coffee</span>
        </a>
    </span>
    <span
        >Fait avec 🖤 par
        <a href="https://github.com/fishonweb">Fishonweb</a></span
    >
</div>
