@import "variables";

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  font-size: 2rem;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

nb-action {
  &:hover {
    cursor: pointer;
  }
}


@media screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        height: auto;
        justify-content: space-between;
    }

    .logo {
        margin-bottom: .8rem;
    }
}
