<div class="navbar-container">
    <a routerLink="home" routerLinkActive="active" class="logo"
        ><img
            width="150px"
            src="assets/velovole_logo.svg"
            alt="Vélo🔓Volé Lille"
    /></a>
    <nb-actions size="medium">
        <nb-action
            routerLink="articles/lock"
            routerLinkActive="active"
            >Conseils</nb-action
        >
        <nb-action
            routerLink="thefts"
            routerLinkActive="active"
            >Voir les vélos</nb-action
        >
        <nb-action
            routerLink="addbike"
            routerLinkActive="active"
            *ngIf="isLoggedIn"
            >Ajouter un vélo</nb-action
        >
        <nb-action (click)="logout()" *ngIf="isLoggedIn">Déconnexion</nb-action>
        <nb-action
            routerLink="login"
            routerLinkActive="active"
            *ngIf="!isLoggedIn"
            >Connexion</nb-action
        >
        <nb-action
            routerLink="signup"
            routerLinkActive="active"
            *ngIf="!isLoggedIn"
            >Inscription</nb-action
        >
    </nb-actions>
</div>
