<nb-card>
  <nb-card-body>
    <p *ngIf="confirmedAccount === 'success'">
      Votre compte est confirmé, vous pouvez maintenant <a routerLink="/login">vous connecter</a>.
    </p>
    <p *ngIf="confirmedAccount === 'already-verified'">
      Votre compte a déjà été confirmé, vous pouvez <a routerLink="/login">vous connecter</a>.
    </p>
  </nb-card-body>
</nb-card>
