<nb-card class="message__dialog">
    <nb-card-header><h4>Envoyer un message</h4></nb-card-header>
    <nb-card-body>
    <form [formGroup]="messageFormGroup">
        <div class="form-control-group">
            <input formControlName="name" type="text" nbInput fullWidth placeholder="Prénom et Nom">
        </div>
        <div class="form-control-group">
            <input formControlName="email" type="email" nbInput fullWidth placeholder="myemail@email.com">
        </div>
        <div class="form-control-group">
            <textarea formControlName="message" rows="6" nbInput fullWidth placeholder="Message"></textarea>
        </div>
    </form>
    </nb-card-body>
    <nb-card-footer class="message__footer">
      <button nbButton ghost (click)="cancel()">Cancel</button>
      <button nbButton status="success" (click)="submit()" [disabled]="messageFormGroup.invalid">Submit</button>
    </nb-card-footer>
  </nb-card>
