<div class="container">
    <p>Volé le {{ theft.date | date: 'dd/MM/yyyy' }}</p>
    <app-loading *ngIf="!imageToShow  && imageToShow !== 'error'"></app-loading>
    <img *ngIf="imageToShow && imageToShow !== 'error'" [src]="imageToShow" alt="" class="picture"/>
    <small *ngIf="imageToShow === 'error'">L'image n'a pas pu être chargée</small>
    <p>{{ theft.description }}</p>
    <a [routerLink]="['/thefts/details/', theft._id]"
    routerLinkActive="active">Voir les details</a>
</div>

