<nb-card>
  <nb-card-header>Connexion</nb-card-header>
      <nb-card-body>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-control-group">
                  <label for="email" class="label">Email</label>
                  <input nbInput type="text" formControlName="email" fieldSize="large" fullWidth [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">L'email est obligatoire</div>
                  </div>
              </div>
              <div class="form-control-group">
                  <label for="password" class="label">Mot de passe</label>
                  <input nbInput type="password" formControlName="password" fieldSize="large" fullWidth [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Le mot de passe est obligatoire</div>
                  </div>
              </div>
              <div class="flex-container">
                <button nbButton [disabled]="!loginForm.valid" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Login
                </button>
                <a routerLink="/forgotpassword">Mot de passe oublié</a>
              </div>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          </form>
      </nb-card-body>
</nb-card>
