<nb-card>
    <nb-card-body class="card__body">
        <form [formGroup]="bikeForm">
            <div class="form-control-group">
                <label class="label">Type de vélo</label>
                <nb-select
                    formControlName="bikeType"
                    placeholder="Type de vélo"
                >
                    <nb-option
                        [value]="type.value"
                        *ngFor="let type of bikeTypes"
                        >{{ type.label }}</nb-option
                    >
                </nb-select>
            </div>
            <div class="form-control-group">
                <label class="label">Marque du vélo</label>
                <input nbInput type="text" formControlName="brand" />
            </div>
            <div class="form-control-group">
                <label class="label">Couleur</label>
                <input nbInput type="text" formControlName="color" />
            </div>
            <div class="form-control-group">
                <nb-toggle labelPosition="start" formControlName="hasBicycode"
                    >Le vélo est-il marqué bicycode ?</nb-toggle
                >
            </div>
            <div class="form-control-group" *ngIf="bikeForm.value.hasBicycode">
                <label class="label">Numéro Bicycode</label>
                <input nbInput type="text" formControlName="bicycode" />
            </div>
            <div class="form-control-group">
                <label class="label">Description</label>
                <textarea
                    nbInput
                    fullWidth
                    cols="30"
                    rows="10"
                    formControlName="description"
                ></textarea>
            </div>
            <div class="form-control-group">
                <label class="label">Date du vol</label>
                <input
                    nbInput
                    [nbDatepicker]="datepicker"
                    formControlName="date"
                />
                <nb-datepicker #datepicker></nb-datepicker>
            </div>
            <div class="form-control-group">
                <label class="label">Heure approximative</label>
                <input nbInput type="time" formControlName="time" />
            </div>
            <div class="form-control-group">
                <label class="label">Photo(s)</label>
                <!-- TODO  gallery upload -->
                <input nbInput formControlName="picture" type="file" (change)="onFileChange($event)"/>
                {{errors}}
            </div>
            <div class="form-control-group">
                <label class="label">Adresse du vol</label>
                <ng-select
                    #selectAddresses
                    bindLabel="label"
                    [typeahead]="inputAddress"
                    [items]="addresses$ | async"
                    [minTermLength]="2"
                    [loading]="addressLoading"
                    formControlName="address"
                    dropdownPosition="auto"
                    [isOpen]="false"
                ></ng-select>
            </div>
            <div class="form-control-group">
                <nb-toggle labelPosition="start" formControlName="fixedPoint"
                    >Le vélo était-il attaché à un point fixe ?</nb-toggle
                >
            </div>
            <div class="form-control-group">
                <label class="label">
                    Type de cadenas
                </label>
                <nb-select
                    formControlName="lockType"
                    placeholder="Type de cadenas"
                >
                    <nb-option
                        [value]="type.value"
                        *ngFor="let type of lockTypes"
                        >{{ type.label }}</nb-option
                    >
                </nb-select>
            </div>
            <button
                nbButton
                [disabled]="!bikeForm.valid || isDisabled"
                class="btn btn-primary"
                (click)="submitBike()"
            >
                Ajouter un vélo volé
            </button>
        </form>
    </nb-card-body>
</nb-card>
