@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((
  // add your variables here like:
  // color-bg: #4ca6ff,
), default, default);

.search-dropdown {
    position: relative;
}

.dropdown__wrapper {
    position: absolute;
    padding-bottom: 20px;
}

.dropdown {

    &__list {
        max-height: 54px * 5;
        overflow: scroll;
        z-index: 1;
        background: #fff;
        border-radius: 0.25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);

        ::ng-deep nb-list-item {
            &:hover {
                background-color: nb-themes(color-primary-200);
                color: nb-themes(color-primary-400);
            }
        }
    }

}

.card__body {
    overflow: initial;
}
