<div class="container">
    <app-loading *ngIf="!imageToShow && imageToShow !== 'error'"></app-loading>
    <img *ngIf="imageToShow && imageToShow !== 'error'" class="picture" [src]="imageToShow" alt=""/>
    <small *ngIf="imageToShow === 'error'">L'image n'a pas pu être chargée</small>
</div>
