<nb-alert *ngIf="signupSuccess" outline="success" role="alert">
    <p class="alert-title"><strong>Inscription réussie!</strong></p>
    <p>
        Vous allez recevoir un email dans quelques instant pour confirmer votre
        inscription.
    </p>
</nb-alert>

<nb-alert *ngIf="signupError" outline="danger" role="alert">
    <p class="alert-title"><strong>Whoopsy !</strong></p>
    <p>Cet email semble déjà utilisé pour un compte.</p>
</nb-alert>

<nb-card>
    <nb-card-header>Inscription</nb-card-header>
    <nb-card-body>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-control-group">
                <label for="firstname" class="label">Prénom</label>
                <input
                    nbInput
                    fieldSize="large"
                    fullWidth
                    type="text"
                    formControlName="firstname"
                />
            </div>
            <div class="form-control-group">
                <label for="lastname" class="label">Nom</label>
                <input
                    nbInput
                    type="text"
                    fieldSize="large"
                    fullWidth
                    formControlName="lastname"
                />
            </div>
            <div class="form-control-group">
                <label for="email" class="label">Email</label>
                <input
                    nbInput
                    type="text"
                    fieldSize="large"
                    fullWidth
                    formControlName="email"
                />
                <label class="error"
                    *ngIf="
                        signupForm.get('email').errors &&
                        signupForm.get('email').touched
                    "
                    >
                    Votre email n'est pas valide.
            </label>
            </div>
            <div class="form-control-group">
                <label for="password" class="label">Mot de passe</label>
                <input
                    nbInput
                    type="password"
                    fieldSize="large"
                    fullWidth
                    formControlName="password"
                />
                <label class="error"
                    *ngIf="
                        signupForm.get('password').errors &&
                        signupForm.get('password').touched
                    "
                    >
                    Votre mot de passe doit contenir au moins {{signupForm.get("password").errors.minlength.requiredLength}} caractères.
            </label>
            </div>
            <div class="form-control-group">
                <label for="password" class="label"
                    >Confirmer le mot de passe</label
                >
                <input
                    nbInput
                    type="password"
                    fieldSize="large"
                    fullWidth
                    formControlName="confirmPassword"
                />
                <label class="error"
                    *ngIf="signupForm.get('password').touched && signupForm.get('confirmPassword').touched && signupForm.get('password').value !==
                    signupForm.get('confirmPassword').value"
                    >
                    Vos mots de passe doivent être identiques.
                </label>
            </div>
            <button
                nbButton
                type="submit"
                [disabled]="
                    !signupForm.valid ||
                    signupForm.get('password').value !==
                        signupForm.get('confirmPassword').value
                "
            >
                M'inscrire
            </button>
        </form>
    </nb-card-body>
</nb-card>
