@import "variables";

.bike {
    display: flex;
    flex-direction: row;

    &__description {
        width: 40%;
    }

    &__picture {
        margin-right: 30px;
        width: 60%;
    }

    &__detail {
        margin-bottom: 12px;
        border: 1px solid $color-basic-400;
        display: flex;
        justify-content: center;
        min-height: 2.5rem;
    }
}

.detail {
    &__content {
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        width: 60%;
        display: flex;
        align-items: center;
        padding: 0.3rem;

        &--address {
            margin-top: 10px;
            margin-bottom: 12px;
        }
    }

    &__title {
        text-align: center;
        padding: 0.3rem;
        width: 40%;
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
        margin-right: 12px;
        background-color: $color-basic-400;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.map-container {
    width: 100%;
    height: 300px;
    position: relative;
}

.map-frame {
    height: 100%;
}

#theftMap {
    height: 100%;
}

.actions {
    margin-bottom: 20px;
    button {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .bike {
        flex-direction: column;

        &__picture,
        &__description {
            width: 100%;
            margin: 0 0 16px;
        }
    }
}
