<nb-card>
    <nb-card-header
        ><h3>
            Volé le {{ theft?.date | date: "dd/MM/yyyy" }} à {{ theft?.time }}
        </h3></nb-card-header
    >
    <nb-card-body>
        <div class="bike">
            <div class="bike__picture">
                <app-bike-picture
                    *ngIf="theft && theft.picture"
                    [bikePicture]="theft?.picture"
                ></app-bike-picture>
            </div>
            <div class="bike__description">
                <div class="actions">
                    <button nbButton class="btn btn-primary" size="large" (click)="openMessage()">J’ai des infos !</button>
                </div>
                <div class="bike__detail">
                    <div class="detail__title">Marque</div>
                    <div class="detail__content">{{ theft?.brand }}</div>
                </div>
                <div class="bike__detail">
                    <div class="detail__title">Couleur</div>
                    <div class="detail__content">{{ theft?.color }}</div>
                </div>
                <div class="bike__detail">
                    <div class="detail__title">Type de vélo</div>
                    <div class="detail__content">{{ theft?.bikeType }}</div>
                </div>
                <div class="bike__detail" *ngIf="theft?.bicycode">
                    <div class="detail__title">Bicycode</div>
                    <div class="detail__content">{{ theft?.bicycode }}</div>
                </div>
                <div class="bike__detail">
                    <div class="detail__title">Description</div>
                    <div class="detail__content">{{ theft?.description }}</div>
                </div>
                <div class="bike__detail">
                    <div class="detail__title">Attaché</div>
                    <div class="detail__content">
                        <span *ngIf="theft?.fixedPoint"
                            >attaché à un point fixe avec
                            {{ theft?.lockType }}</span
                        >
                        <span *ngIf="!theft?.fixedPoint">{{
                            theft?.lockType
                        }}</span>
                    </div>
                </div>
                <div class="map-container">
                    <div class="map-frame">
                        <div id="theftMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>
