<nb-alert *ngIf="resetSuccess" outline="success" role="alert">
  <p class="alert-title"><strong>Mot de passe enregistré !</strong></p>
  <p>Vous pouvez vous <a routerLink="/login">connecter</a>.</p>
</nb-alert>

<nb-alert *ngIf="resetError" outline="danger" role="alert">
    <p class="alert-title"><strong>Whoopsy !</strong></p>
    <p>Une erreur s'est produite.</p>
  </nb-alert>
<nb-card>
  <nb-card-body>
    <form [formGroup]="resetPasswordFormgroup" (submit)="resetPassword()">
      <div class="form-control-group">
        <label for="email" class="label">Nouveau mot de passe</label>
        <input nbInput type="password" formControlName="password" fieldSize="large" fullWidth [ngClass]="{ 'is-invalid': resetPasswordFormgroup.invalid }" />
      </div>
      <button nbButton [disabled]="!resetPasswordFormgroup.valid" class="btn btn-primary">
        Envoyer
      </button>
    </form>
  </nb-card-body>
</nb-card>
